@import "./_Variables";
@import "./Mixin";
@import "./pro-sidebar-style/Variables";

.sidebar-mask {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    display: none;
}


@include fullScreenSidebar {
    // .closed {
    //   display: block;
    // }
  }