$testlayout: 1px solid black;

//Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-fullScreen: 1199px;
$breakpoint-searchbox: 960px;
$breakpoint-galaxyMin: 460px;