@import 'style.scss';
$footercolor: #a8b5c0;
.mainFooter {
    background-color: #242729;
    padding: 5px 8px 5px 8px;
    font-size: 13px;
    color: $footercolor;
    .container {
        padding: 10px;
        padding-top: 2px;
    }
    p {
        margin: 0px;
        padding-top: 5px;
    }
    a {
        color: $footercolor;
        text-decoration: none;
    }
}