@import './Style.scss';
header {
    position: sticky;
    top:0;

}
.navbar {
    border-bottom: $testborder;
    padding: .7rem 1.5rem;
    line-height: 2.2rem;

    .sidebar-button {
        cursor: pointer;
        display: flex;
        width: 1.25rem;
        height: 50px;
        position: absolute;
        padding: .6rem;
        top: 0;
        left: 1rem;
        align-items: center;
    }
    a {
        padding-left: 2.8rem;
        text-decoration: none;
        color: #000;
        line-height: 130%;
        text-align: center;
        figure {
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            overflow: hidden;
            margin: 0;
            img {
                width: 100%;
            }
        }
        div {
            display: inline-block;
            vertical-align: middle;
            padding-left: 5px;
            strong {
                font-size: 17px;
            }
            em {
                display: block;
                font-size: 13px;
                font-style: normal;
                color: #666;
            }
        }
    }

    .links {
        display: flex;
        height: 50px;
        background-color: #fff;
        white-space: nowrap;
        font-size: .9rem;
        position: absolute;
        right: 1.5rem;
        top: .7rem;
        align-items: center;
        .search-box {
            input {
                cursor: text;
                width: 10rem;
                height: 2rem;
                color: black;
                display: inline-block;
                border: 1px solid #cfd4db;
                border-radius: 2rem;
                font-size: .9rem;
                line-height: 2rem;
                padding: 0 .5rem 0 2rem;
                outline: none;
                background: #fff url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg) .6rem .5rem no-repeat;
                background-size: 1rem;
            }
        }
        .nav-links {
            .nav-item {
                display: inline-block;
                //margin-left: 1.3rem;
                a {
                padding-left: 1.5rem;
            }
            }
        }
    }
}