$headborder: 1px solid #eaecef;

//Breakpoints
$breakpoint-mobile: 300px;
$breakpoint-middlemobile: 475px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 960px;
$breakpoint-sidebarlimit: 1199px;
$breakpoint-galaxyMin: 460px;
$breakpoint-mobileSearchboxmin: 400px;